[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/Microsoft/DirectXTex.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "external/newton-dynamics"]
	path = external/newton-dynamics
	url = https://github.com/MADEAPPS/newton-dynamics.git
[submodule "external/nano-signal-slot"]
	path = external/nano-signal-slot
	url = https://github.com/NoAvailableAlias/nano-signal-slot.git
[submodule "external/jsoncons"]
	path = external/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glee"]
	path = external/glee
	url = http://git.code.sf.net/p/glee/glee
